* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: yellowgreen; */
}

html {
    scroll-behavior: smooth;
}







nav.top_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 20px auto;

}

.search_bar {
    display: flex;
    width: 55%;
    height: 45px;
    border-width: 1px;
}

.search_bar input {
    width: 100%;
    height: 45px;
    padding: 0 150px 0 10px;
    border-radius: 8px;
}

.search_bar .catagories {
    position: relative;
    right: 160px;
    width: 150px;
    text-align: center;

}

.search_bar .search_icon {
    position: relative;
    right: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    background: rgb(100, 180, 150);
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.accounts {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 300;
}

.account {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.account p:hover {
    color: rgb(100, 180, 150);
}



/* Down Navigation */




.down_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 20px auto;
}

div.bergur {
    cursor: pointer;
}

div.line {
    width: 25px;
    height: 3px;
    margin: 7px 3px;
    background-color: rgb(9, 7, 7);
}

.list {
    display: flex;
    list-style: none;
    gap: 15px;
}

.list_item a {
    text-decoration: none;
    color: black;
}

.list_item {
    padding: 20px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    gap: 5px;
    cursor: pointer;
}

.list_item i {
    font-size: 12px;
}

.call {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.call a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}




/* Section */




.first_section {
    /* height: 80vh; */
    margin-bottom: 70px;
    padding: 40px;
}

.home_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

.background-1 {
    background-image: url(Image/banner1.jpg);
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
    margin: 10px 30px;
    padding: 5px 45px;

}

.background-2 {
    background-image: url(Image/banner-2.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* .second_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
    margin: 10px 30px;
    padding: 5px 45px;

} */

.home_page p {
    font-size: 25px;
    text-align: left;

}

.home_page h1 {
    font-size: 3rem;
    font-weight: 1000;
    text-align: center;
}

.home_page .para {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.shop_now {
    width: 110px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(100, 180, 150);
    color: white;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    border: none;
}

.shop_now:hover {
    background-color: black;
    border: 1px solid white;

}




/* Second Section */



.second_section {
    width: 85%;
    height: 80vh;
    margin: auto;
    display: flex;
    gap: 30px;
    /* grid-template-columns: repeat(3 , 1fr); */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.first_block li {
    width: 400px;
    height: 80px;
    /* border: 0.01px solid; */
    cursor: pointer;
    border-radius: 10px;
    margin: 9px;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'Roboto', sans-serif;

}


.first_block li:hover {
    color: rgb(100, 180, 150);
}


.first_block li h4 {
    font-size: 17px;
    font-weight: 600;
    opacity: .6;
}


.first_block li p {
    font-size: 12px;
    font-weight: 400;
    opacity: .6;

}



.second_block {
    background: rgba(0, 0, 0, 0.7) url(Image/cake.jpg);
    background-size: cover;
    height: 76vh;
    width: 450px;
    border-radius: 5px;
    color: white;
    margin: auto;
}

.second_block:hover {
    background-blend-mode: darken;

}

.second_block .upper_side,
.third_block .upper_side {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 5px 10px;
    padding: 6px;
}

.second_block .upper_side h1,
.third_block .upper_side h1 {
    font-size: 3.5rem;
    padding: 6px;
    font-family: 'Roboto';

}

.second_block .upper_side .upper_right p,
.third_block .upper_side .upper_right p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5px;
}

.second_block .lower_side,
.third_block .lower_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: end;
    height: 35vh;
    position: relative;
    top: 240px;
}

.second_block .lower_side h2,
.third_block .lower_side h2 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.third_block {
    background: rgba(0, 0, 0, 0.7) url(Image/milk.jpeg);
    background-size: cover;
    height: 76vh;
    width: 450px;
    border-radius: 5px;
    color: white;
}

.third_block:hover {
    background-blend-mode: darken;

}




/* Third Section */





.third_section {
    width: 90%;
    margin: auto;
    /* height: 150vh; */
}

.product_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 60%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.third_section_desc {
    /* display: grid;
    grid-template-columns: repeat(2 ,1fr); */
    padding: 20px;
    display: flex;
}

.product_heading h1 {
    font-size: 2.4rem;
    font-weight: 600;
}

.product_heading p {
    font-size: 16px;
}

.product_nav {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.product_nav ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    list-style: none;
    /* border: 2px solid; */
    width: 85%;
    height: 50px;
    margin: 10px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.product_nav ul li:hover {
    color: rgb(100, 180, 150);
}

.product_nav ul li a {
    text-decoration: none;
    color: black;
}


.product_nav .poster {
    background-image: url(Image/product-banner.jpg);
    background-size: cover;
    width: 85%;
    height: 460px;
    border-radius: 5px;
    text-align: left;
    padding: 10px;

}

.product_nav .poster .poster_text {
    position: relative;
    padding: 0 15px;
    top: 20px;
}

.product_nav .poster h2 {
    font-size: 2.5rem;
    position: relative;
    font-family: Roboto;
    font-weight: 400;
    color: white;
    margin: 0 10px;
}

.product_nav .poster h1 {
    font-size: 3.5rem;
    position: relative;
    color: rgb(241, 200, 126);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    margin: 0 10px;
}

.product_nav .poster p {
    font-size: 18px;
    position: relative;
    color: rgb(173, 243, 196);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

}

.products .product_card {
    /* border: 1px solid; */
    padding: 17px;
    text-align: center;
    width: 230px;
    height: 370px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.products .product_card img {
    width: 200px;
    display: flex;
    margin: auto;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
}

.products .product_card h3 {
    font-size: 18px;
    font-weight: 400;
    opacity: .5;
    padding-top: 5px;

}

.products .product_card .reating {
    display: flex;
    margin: 10px;
    gap: 5px;
    color: gold;
    font-size: 13px;
}

.products .product_card .reating p {
    color: black;
}

.products .product_card .description {
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 400;

}




/* Fourth Section */



.fourth_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    height: 300px;
    gap: 20px;
}

.fourth_section .fourth_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    text-align: center;
    /* border: 2px solid black; */
    background-color: rgb(247, 247, 248);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 200px;

}

.fourth_section .fourth_cards i {
    font-size: 27px;
    color: rgb(100, 180, 150);
    padding: 5px;
}

.fourth_section .fourth_cards h1 {
    font-size: 1.5rem;
    padding: 10px 0;
    font-family: "Roboto", sans-serif;
}



/* Fifth Section */



.fifth_section {
    height: 90vh;
    margin: 60px 0;
    background-image: url(Image/bg-deal.jpg);
    background-size: cover;
}

.fifth {
    width: 470px;
    height: 240px;
    background-color: rgb(244, 222, 205);
    /* border: 2px solid; */
    border-radius: 5px;
    position: relative;
    top: 190px;
    left: 140px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.off {
    display: flex;
    align-items: end;
    gap: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.off h3 {
    font-size: 2rem;
    color: rgb(100, 180, 150);
}

.off p {
    font-size: 1.2rem;
    font-weight: 500;

}

.fifth .text_1 {
    text-align: center;
    font-size: 1.4rem;
    padding: 10px;
    font-family: "Roboto", serif;
}


.fifth .text_2 {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: .7;

}






/* Sixth Section */




.sixth_section {
    width: 85%;
    height: 60vh;
    margin: auto;
    display: flex;
    gap: 20px;
}

.sixth_left {
    display: flex;
    /* width: 60%; */
}

.sixth_left .product_card {
    padding: 17px;
    text-align: center;
    width: 230px;
    height: 370px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.sixth_left .product_card img {
    width: 200px;
    display: flex;
    margin: auto;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
}

.sixth_left .product_card h3 {
    font-size: 18px;
    font-weight: 400;
    opacity: .5;
    padding-top: 5px;

}

.sixth_left .product_card .reating {
    display: flex;
    margin: 10px;
    gap: 5px;
    color: gold;
    font-size: 13px;
}

.sixth_left .product_card .reating p {
    color: black;
}

.sixth_left .product_card .description {
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 400;

}


.sixth_right {
    background-image: url(Image/products-rightview.jpg);
    background-size: cover;
    width: 50%;
    height: 370px;
    border-radius: 5px;
}

.sixth_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 121px;
    padding: 20px;
    top: 112px;
    width: 60%;
    margin: auto;
    text-align: right;
}

.sixth_text h1 {
    font-size: 2rem;
    padding: 20px;
}




/* Seventh Section */



.seventh_section {
    width: 85%;
    height: 70vh;
    margin: auto;
    gap: 20px;
}

.seventh_section .seventh_heading,
.eights_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
}

.seventh_section .seventh_heading h1,
.eights_heading h1 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

.seventh_section .seventh_heading p,
.eights_heading p {
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: .7;
}


.seventh_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
}

.seventh_body .persons {
    background-color: rgb(247, 247, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 240px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.seventh_body .persons img {
    border: 10px solid white;
    border-radius: 50%;
    width: 110px;
    position: relative;
    bottom: 80px;
}

.seventh_body .persons h4 {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .5;
    position: relative;
    bottom: 60px;
}

.seventh_body .persons h2 {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    position: relative;
    bottom: 50px;
}

.seventh_body .persons p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    bottom: 35px;
}

.seventh_body .persons .reating {
    color: gold;
}




/* Eights Section */



.eights_section {
    width: 85%;
    height: 80vh;
    margin: auto;
}

.eights_section .eights_body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;

}

.eights_items {
    width: 420px;
    height: 393px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.eights_items p {
    margin-top: 16px;
}

.eights_items h3 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.eights_items img {
    width: 100%;
    position: relative;
}

.eights_items li {
    list-style: none;
    display: flex;
    width: 25%;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.eights_items li a {
    text-decoration: none;
    color: rgb(105, 182, 153);
    font-size: 16px;
    font-family: "Roboto";

}





/* Footer */





.foot {
    margin-top: 80px;
    width: 100%;
    height: 60vh;
    margin: 60px auto 10px auto;
    padding: 70px 90px;
    display: flex;
    gap: 20px;
    background-color: rgb(247, 247, 248)
}

.foot ul li {
    list-style: none;
}

.foot .footer_left {
    width: 35%;
    /* border: 2px solid; */
    height: 80%;
    text-align: left;
    padding: 30px;
    /* line-height: 35px; */

}

.footer_left p {
    font-size: 14px;
    opacity: .6;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_left .p1 {
    line-height: 20px;
    margin: 15px 0;
}

.footer_left .gmail,
.number {
    display: flex;
    gap: 15px;
    /* justify-content: center; */
    align-items: center;
    margin: 20px 0;
}


.footer_left .gmail i,
.number i {
    opacity: .6;
}

.foot .footer_center {
    width: 40%;
    /* border: 2px solid; */
    height: 80%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.foot .footer_center ul {
    width: 50%;
    text-align: left;
    padding: 30px;

}

.foot .footer_center ul li {
    line-height: 34px;
    font-size: 18px;
    opacity: .7;
}

.foot .footer_center ul li:hover{
    color: rgb(105, 182, 153);
}

.foot .footer_center ul .li_head {
    font-size: 21px;
    font-weight: bold;
    opacity: 1;
    margin: 10px 0;
}

.foot .footer_right {
    width: 35%;
    /* border: 2px solid; */
    height: 80%;
    text-align: left;
    padding: 30px;
    /* line-height: 35px; */
}
.foot .footer_right h2{
    margin: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    /* padding: 20px 0; */
}

.foot .footer_right .search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot .footer_right .search input{
    width: 100%;
    height: 37px;
    border: none;
    font-size: 16px;
    padding: 5px 15px;
}
.foot .footer_right .search i{
    position: relative;
    right: 30px;
    cursor: pointer;

}

.foot .footer_right .accounts{
    display: flex;
    justify-content: start;
    padding: 20px 0;
}

.fb , .x , .insta , .github {
    cursor: pointer;
}





.footer{
    text-align: center;
    font-size: 16px;
    font-family: "Roboto";
    margin: 5px;
}